################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core.Business.Objects/obj
/NumberArtist.Api/bin/Debug/net9.0
/NumberArtist.Api/obj
/NumberArtistView/bin/Debug
/NumberArtistView/obj

.fake
/Core.Business.Objects/bin/Debug/net9.0/Core.Business.Objects.dll
/Core.Business.Objects/bin/Debug/net9.0/Core.Business.Objects.pdb
/NumberArtist.Api/https/_.officeblox.co.uk.pfx
